@charset "UTF-8";
 @font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

*{
   margin: 0;
   padding: 0;
   font-family: 'MICEGothic Bold';
}

h1 {
   font-family: 'MICEGothic Bold';
}

h2 {
   font-family: 'MICEGothic Bold';
}
h3 {
   font-family: 'MICEGothic Bold';
}
h4 {
   font-family: 'MICEGothic Bold';
}
h5 {
   font-family: 'MICEGothic Bold';
}

a {
   font-family: 'MICEGothic Bold';
}